body {
    overflow: hidden;
}
@font-face {
    font-family: 'PantonLight';
    src: url('../font/panton-light.otf');
}
@font-face {
    font-family: 'PantonBlack';
    src: url('../font/panton-black.ttf');
}
.navbar {
    height: 70px;
    background-color: #fff;
}
.menu li {
    padding: 25px 20px;
    font-size: 20px;
    font-family: PantonLight;
    line-height: 20px;
}
.menu .contact-button {
    height: 70px;
    margin: 0px;
    padding: 15px;
    width: auto;
}
.menu .contact-button .btn {
    width: 200px;
}
.menu a {
    padding: 0px!important;
}
.contact-button .btn-warning {
    background: #e74c3c;
    border-color: #e74c3c;
    font-family: PantonLight;
    font-size: 16px;
}
.logo {
    height: 50px;
}
.bordered-box {
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}
.no-padding {
    padding: 0;
}
.navbar-brand {
    height: 70px;
    padding: 12px 0;
}
.intro {
    background-color: #e74c3c;
    color: #fff;
    min-height: 390px;
    background-image: url('../img/bg_teaser.svg');
    background-size: contain;
}
.intro .arrow {
    height: 70px;
    width: 70px;
    background-image: url('../img/temp.png');
    background-size: contain;
    top: 420px;
    position: absolute;
    left: 50%;
    margin-left: -35.5px;
}
.btn-large {
    height: 36px;
    line-height: 36px;
}
.main-body {
    padding-top: 70px;
}
h1 {
    font-family: "PantonBlack";
    font-size: 27pt;
    line-height: 30pt;
    margin: 1rem 0 0rem 0;
}
h2 {
    font-family: "PantonBlack";
    font-size: 20pt;
    line-height: 30pt;
    margin: 0rem 0 1rem 0;
    color: #e74c3c;
}
h3 {
    font-family: "PantonLight";
    font-size: 18pt;
    margin: 1rem 0 0rem 0;
    color: #e74c3c;
}
h4 {
    font-family: "PantonLight";
    font-size: 16pt;
    margin: 1rem 0 0rem 0;
}
#principle {
    padding:30px;
}
#principle p {
    font-family: "PantonLight";
    font-size: 13.4pt;
    margin: 1rem 0 6rem 0;
}
#principle .principle-box p {
    font-family: "PantonLight";
    font-size: 12.5pt;
    margin: 1rem 0 2rem 0;
    color: #555;
    width: 100%;
}
.seperator {
    height: 20px;
    background: url('../img/seperator.png') 50% 50% no-repeat;
    background-size: contain;
}
#courses-apply {
    padding: 4rem 0;
}
.courses-box {
    border: 1px solid #e74c3c;
    margin-bottom: 10px;
}
.courses-box h6 {
    font-family: PantonLight;
    color:#919191;
    font-size: 16px;
    margin-bottom: 20px;
}
.courses-box h3 {
    font-family: "PantonBlack";
    font-size: 20pt;
    margin: 0rem 0 0rem 0;
    color: #555;
    border-bottom: 1px solid #e74c3c;
    line-height: 25pt;
}
.courses-box h4 {
    font-family: "PantonLight";
    font-size: 14pt;
    margin: 1rem 0 0.5rem 0;
    color: #e74c3c;
}
.courses-box button {
    width: 100%;
    font-family: PantonLight;
}
.courses-box img {
    margin: 2rem 0 3rem 0;
}
#testinomial-carousel {
    margin-top: 2rem;
}
.testinomial {
    background-color: #e74c3c;
    padding-bottom: 2rem;
}
.testinomial h2 {
    color: #fff;
    margin: 3rem 0 0.5rem 0;
}
.testinomial h4 {
    font-size: 14pt
}
.testinomial img {
    width: 70px;
    margin-bottom: 170px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.testinomial .carousel-indicators {
    bottom: 0px;
}
.carousel-control.right,
.carousel-control.left {
    background: transparent;
}
.instructor {
    background: url('../img/ruler.png') repeat-x;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}
.instructor img {
    border-radius: 3px;
    border: 1px #D0D0D0 solid;
    width: 100%;
}
.instructor h2 {
    margin-bottom: 1.5em;
}
.instructor h3 {
    margin: 0rem 0 0rem 0;
}
.instructor h5 {
    font-family: "PantonLight";
    color: #555;
    font-size: 13pt;
}
.instructor p {
    font-family: "PantonLight";
    font-size: 12pt;
    text-align: justify;
}
.about-instructor {
    padding-left: 2rem;
    padding-right: 0;
}
.about-instructor a {
    color: #e74c3c;
}
.why-free {
    background: url('../img/launch.png') 90% 100% no-repeat;
    padding: 4.5rem 0;
    min-height: 400px;
}
.why-free h2 {
    margin-bottom: 2em;
}
.why-free-content p {
    text-transform: uppercase;
    text-align: left;
    font-family: "PantonLight";
    color: #555;
    font-size: 12pt;
}
.why-free-content strong {
    color: #e74c3c;
}
.footer {
    background-color: #e74c3c;
    min-height: 200px;
}
.contact-holder {
    height: 120px;
    width: 120px;
    background-color: #e74c3c;
    border-radius: 50%;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
}
.contact-button {
    height: 100px;
    width: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 10px;
    background: url('../img/mail-icon.png') 50% 50%;
}
.social {
    margin-top: 90px;
    margin-left: 37.5%;
}
.social img {
    height: 30px;
}
.footer h6 {
    margin-top: 130px;
    color: #fff;
}
@media screen and (max-width: 480px) {
    .navbar-brand {
        width: 100%;
    }
    .navbar-brand>img {
        height: 50px;
    }
    .coding-man {
        width: 110%
    }
    .principle-box img {
        width: 100%;
    }
    .linkedin {
        display: none;
    }
    .arrow {
        display: none;
    }
    .intro h4 {
        margin-bottom: 2rem;
    }
    .social {
        margin-left: 0px;
    }
    .footer h6 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .why-free {
        background: none;
    }
    .why-free h2 {
        padding: 0px 20px;
    }
    .why-free-content {
        padding: 25px;
        text-align: justify;
        padding-top: 0px;
    }
    .about-instructor {
        padding-left: 0px;
        padding-top: 20px;
    }
    .testinomial img {
        margin-bottom: 290px;
    }
}

/* Showcase CSS */


.showcase {
    background: url(../img/banner-background.jpg) no-repeat 50% 0;
}
#left-block {
    padding-top: 35px;
}
#apply-course {
    height: 230px;
}
#apply-course h5,
#author h5 {
    font-size: 18px;
    font-family: PantonBlack;
    color: #2FACE0;
}
.no-side-padding {
    padding-left: 0px;
    padding-right: 0px;
}

#app-list,
#introduction {
    margin-bottom: 40px;
}

#app-list h5,
#introduction h5 {
    font-size: 18px;
    font-family: PantonBlack;
    color: #fff;
    line-height: 30px;
    margin-top: 0px;
}
#app-list span,
#introduction span {
    border-bottom: 2px solid #fff;
}
#apply-course span,
#author span {
    border-bottom: 2px solid #2FACE0;
}
#app-list .app-icon {
    margin-bottom: 15px;
    padding: 0 10px;
   
}
#app-list .app-icon img {
    width: 65%;
     cursor: pointer;
}
#app-list .app-icon h6 {
    font-family: PantonLight;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin: 10px;
}
#apply-course .btn-primary {
    background: #2FACE0;
    width: 100%;
    font-family: PantonBlack;
    border-color: #2FACE0;
}
#apply-course p {
    color: #919191;
    font-family: PantonLight;
    font-size: 15px;
    padding: 20px 0;
    text-align: justify;
}
#center-block {
    padding-top: 30px;
}
#right-block {
    padding-top: 30px;
}
#introduction .text-block p {
    font-size: 14px;
    font-family: PantonLight;
    color: #fff;
    text-align: justify;
}
#introduction .btn-default {
    background: #fff;
    width: 150px;
    font-family: PantonLight;
    text-transform: uppercase;
    font-size: 10px;
    background-image: url(../img/download-icon.png);
    background-position: 10px 50%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
#introduction .btn {
    padding: 5px 5px!important;
}
#introduction .btn p {
    border: none;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.showcase-footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 15px;
    font-size: 10px;
}
.member-block img {
    width: 55%;
    border: 2px #bdc3c7 solid;
    border-radius: 100%;
}
.member-block p {
    font-size: 13px;
    font-family: PantonLight;
    color: #919191;
    margin-top: 5px;
}
.team-details {
    color: #919191;
    font-family: PantonLight;
    font-size: 15px;
    padding: 10px 0;
    text-align: justify;
}
.text-block {
    padding-right: 15px;
}
.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(46, 204, 113, 0.8);
    overflow: hidden;
    transition: all 0.5s;
}
a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}
a.close-overlay.hidden {
    display: none;
}
a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 30px;
}
#app-box .overlay {
    top: 0;
    left: 22.5%;
    right: 0;
    width: 55%;
    height: 65%;
    border-radius: 15px;
    opacity: 0;
}
#app-box .overlay a.expand {
    left: 0;
    right: 0;
    bottom: 50%;
    margin: 0 auto -30px auto;
}
#app-box .img.hover .overlay {
    opacity: 1;
}
.intro-character {
    width: 100%;
    height: 320px;
}
.testimonials-content {
    background: #f2f2f2; 
    padding: 15px; 
    color: #919191; 
    font-family: PantonLight;
    font-size: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}
#left-column, #right-column, #middle-column {
    padding: 50px 15px;
}

.load-more {
    padding: 30px;
}

.testimonials-footer {
    font-family: PantonLight;
    font-size: 12px;
}

.app-box {
    padding: 15px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

#gif-image{
    position: absolute;
    top: 70px;
    left: 40px;
}

#gif-image img {
    width: 68%;
}
.hide-image {
    display: none;  
}

.active-menu {
    color: #e74c3c!important;
}

#apply-course, #author {
    animation-delay: 0.15s;
    animation-duration: 0.8s;
    
}
#app-list, #introduction {
    animation-delay: 0.05   s;
    animation-duration: 0.8s;
}

/* ========================================
Page loader CSS
=========================================*/

.pageload-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
}

.pageload-overlay.show {
	visibility: visible;
}

.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.pageload-overlay svg path {
	fill: #fff;
}

.pageload-overlay::after,
.pageload-overlay::before {
	content: '';
	position: fixed;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	-webkit-transition: opacity 0.15s, visibility 0s 0.15s;
	transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay::after {
	background: #e74c3c;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-animation: moveRight 0.6s linear infinite alternate;
	animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
	background: #e74c3c;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	-webkit-animation: moveLeft 0.6s linear infinite alternate;
	animation: moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
	to { -webkit-transform: translateX(20px); }
}

@keyframes moveRight {
	to { transform: translateX(20px); }
}

@-webkit-keyframes moveLeft {
	to { -webkit-transform: translateX(-20px); }
}

@keyframes moveLeft {
	to { transform: translateX(-20px); }
}

.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.hide {
    display: none;
}


.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect 1: opacity */
.grid.effect-1 li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/* Effect 3: Scale up */
.grid.effect-3 li.animate {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* Effect 4: fall perspective */
.grid.effect-4 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-4 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	-webkit-animation: fallPerspective .8s ease-in-out forwards;
	animation: fallPerspective .8s ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-5 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-5 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -300px;
	transform-origin: 50% 50% -300px;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-animation: fly .8s ease-in-out forwards;
	animation: fly .8s ease-in-out forwards;
}

@-webkit-keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-6 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-6 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotateX(-80deg);
	transform: rotateX(-80deg);
	-webkit-animation: flip .8s ease-in-out forwards;
	animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-7 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-7 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-animation: helix .8s ease-in-out forwards;
	animation: helix .8s ease-in-out forwards;
}

@-webkit-keyframes helix {
	0% { }
	100% { -webkit-transform: rotateY(0deg); opacity: 1; }
}

@keyframes helix {
	0% { }
	100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

/* Effect 8:  */
.grid.effect-8 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-8 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-animation: popUp .8s ease-in forwards;
	animation: popUp .8s ease-in forwards;
}

@-webkit-keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}

/* Adding additional styling here.
Would love to think of a better way to do this but my idea is that JS
should not handle sizing (heights/widths) of things, that should be in CSS..*/

/* TODO: Make responsive */

#app-box, #introduction {
    height: 229px;
}
#showcase {
    background-size: 100% 299px;
}